/*
Author: Andre Williams
Begin Date: 8/3/2024 7a
*/



  

select {
width: 100%;
height:auto;
text-align: center;
margin-bottom: 10px;
}

.container {
  visibility: visible;
  width: 80vw;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height:720px; */
  
}

.header,
.footer {
  width: 80%;
  padding: 3px;
  margin: 3px;
  flex: 1;
  box-shadow: 2px 2px 2px 2px rgb(185, 187, 188);
}

.middle {
  width: 80%;
  padding: 3px;
  margin: 3px;
  flex: 8;
  display: flex;
  flex-direction: row;
}

.data-area {
    flex: 3;
}

img {
  width: 25%;
}

#linkin {
  width: 75px;
  height: 75px;

}
.charts {
  display:flex;
  flex-direction: column;
  padding: 3px;
  margin: 3px;
  align-items: center;
}



.filter-right {
  flex: 1;
  margin: 3px;
  box-shadow: 2px 2px 2px 2px rgb(185, 187, 188);
  display:flex;

  }

canvas {
 background-color:aliceblue;
  margin: 10px;
  border: 1px solid;
  border-radius: 10px;
  width: 80%;
  box-shadow: 2px 2px 2px 2px rgb(185, 187, 188);
}

.p {
  padding: 3px;
}

.hist {
  display: flex;
  flex-direction: column;
}

.histogram {
  flex: 8;
}
.range {
  flex: 2;
}

.sample {
  opacity: 15%;
  width: 80%;
}


    button {
      margin-top: 10px;
     width:100%;
    }

#year, #response, #station, #month, #by {
  background-color: aliceblue;
  border: 3px solid;
}

  
