/*
Author: Andre Williams
Begin Date: 8/3/2024 7a
*/



select {
width: 100%;
height:auto;
text-align: center;
margin-bottom: 10px;
}

.container {
  visibility: visible;
  width: 100vw;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid;
  /*height:720px; */
  
}

.header,
.footer {
  width: 80vw;
  padding: 3px;
  margin: 3px;
  flex: 1;
  border: 1px solid;
}

.middle {
  width: 80vw;
  padding: 3px;
  margin: 3px;
  flex: 8;
  display: flex;
  flex-direction: row;
}

.data-area {
    flex: 3;
  
}
img {
  width: 25%;
}
.charts {
  display:flex;
  flex-direction: column;
  padding: 3px;
  margin: 3px;
  align-items: center;
}



.filter-right {
  flex: 1;
  margin: 3px;
  }

.instructions,
.retrieve-data  {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 3px;
  margin: 3px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.retrieve-data  {
  justify-content: right;
}

canvas {
 background-color:aliceblue;
  margin: 10px;
  border: 3px solid;
  border-radius: 10px;
  width: 80%;
}

.p {
  padding: 3px;
}

.hist {
  display: flex;
  flex-direction: column;
}

.histogram {
  flex: 8;
}
.range {
  flex: 2;
}

.sample {
  opacity: 15%;
  width: 80%;
}

body {
  width: 100vw; /* or any desired width */
  margin: 0 auto;
  height: 100vh; /* ensures the body takes full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

    button {
      margin-top: 10px;
     width:100%;
    }

#year, #response, #station, #month, #by {
  background-color: aliceblue;
  border: 3px solid;
}

  
